html,
body {
    font-family: var(--markdown-font-family, -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, sans-serif);
    font-size: var(--markdown-font-size, 18px);
    padding: 0 30px;
    line-height: var(--markdown-line-height, 20px);
    word-wrap: break-word;
}

.markdown-body {
  padding-top: 1em;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4 {
  margin: .8em -10px 0.2em -10px;
  padding: 10px;
  line-height: 1.2;
}

.markdown-body h1,
.markdown-body h2 {
  font-family: "Apple LiSung", var(--markdown-font-family);
}

.markdown-body h2 {
  margin-left: -16px;
  border-left: 6px solid rgb(35, 138, 249);
}

.markdown-body p {
  margin: 2px -10px;
  padding: 6px 10px;
}

.markdown-body blockquote {
  margin: 8px 0;
  padding-top: 1px;
  padding-bottom: 1px;
  border-color: #ccc;
  background-color: none !important;
}

.markdown-body .code-line code {
  padding: 0 6px;
  border-radius: 4px;
  background-color: var(--vscode-textBlockQuote-background);
}

.showEditorSelection .markdown-body :not(tr,ul,ol).code-active-line:before,
.showEditorSelection .markdown-body :not(tr,ul,ol).code-line:hover:before {
  display: none;
}

.markdown-body > .code-active-line,
.markdown-body > .code-line:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
